body
{
    background-color:darkslategray;
    margin: auto;
    margin-top: 20px;
    width:1000px;
}

.imageLogo{
    width : 150px;
    height : 150px;
}
.icon{
    width : 50px;
    height : 50px;
}
h1{
    display: flex;
    justify-content: center;
}
.menu ul li { float:left; list-style: none; }
.menu ul ul {display:none; width:150px;}
.menu  li {background:#CCCCCC;}
.menu li a {text-decoration: none; color: #000; padding: 4px 0 4px; display:block; width:150px;}
.menu ul {padding: 0; margin:0px; text-align:center;}
.menu ul.niveau1 li.sousmenu:hover ul.niveau2{display:block;}
.menu  li:hover {background: lightgreen;}
.menu li.sousmenu:hover {background: lightgreen;}
.menu {
    text-align: center;
    width: 100%; /* largeur 100% de la fenêtre */
    justify-content: center;


}
.recherche{


}
.enTete{
    /*border:2px dashed darkblue;*/
    display:grid;


    grid-template-columns: 150px 700px 50px 50px;
    grid-template-rows: 150px;
    grid-gap: 10px;

}
